<!-- Main Content -->
<div id="index">

  <!-- Short about card -->
  <div class="about-card animated">
    <div class="img-container">
      <img src="http://odjmen8gh.bkt.clouddn.com/0.png" alt="" />
    </div>
    <a href="<%= config.root %>about/">
      <%= config.author %>
    </a>
    <p><%= config.facets_description || '' %></p>
  </div>

  <!-- Content -->
  <div class="content">
    <div class="main">
      <div class="list">
        <% page.posts.each(function(post){ %>
          <%- partial('_partial/post-preview', {post: post}) %>
        <% }); %>
      </div>

      <!-- pagination -->
      <%- partial('_partial/pagination', {page: page, type: 'index'}) %>
    </div>

    <%- partial('_partial/sider') %>
  </div>
</div>
