<!-- Main Content -->
<div id="index">

  <!-- Short about card -->
  <div class="about-card">
    <div class="img-container">
      <%- image_tag('0.png', {width: 180, height: 180}) %>
    </div>
    <a href="<%= config.root %>about/">
      <%= config.author %>
    </a>
    <p><%= config.facets_description || '' %></p>
  </div>

  <!-- Content -->
  <div id="index-content">
    <% page.posts.each(function(post){ %>
      <%- partial('_partial/post-preview', {post: post}) %>
    <% }); %>

  </div>

  <!-- pagination -->
  <%- partial('_partial/pagination', {page: page, type: 'index'}) %>

</div>
