<!-- Post -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-1 col-sm-9 post-container">

      <!-- 正文 -->
      <article>
        <%- page.content %>
      </article>
      <hr>

      <!-- 翻页 -->
      <%- partial('_partial/pagination', {page: page, type: 'post'}) %>

      <!-- 多说评论框 start -->
      <div class="ds-thread" data-thread-key="<%= page['layout'] %>-<%= page['slug'] %>" data-title="<%= page['title'] %>" data-url="<%= page['permalink'] %>"></div>
      <!-- 多说评论框 end -->
      <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
      <script type="text/javascript">
       var duoshuoQuery = {short_name:"zhufuge"};
       (function() {
	       var ds = document.createElement('script');
	       ds.type = 'text/javascript';ds.async = true;
	       ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
	       ds.charset = 'UTF-8';
	       (document.getElementsByTagName('head')[0]
       || document.getElementsByTagName('body')[0]).appendChild(ds);
       })();
      </script>
      <!-- 多说公共JS代码 end -->
    </div>

    <!-- 目录 -->
    <div class="hidden-xs col-sm-3 toc-col">
      <div class="toc-wrap">
        <%- toc(page.content, {list_number: false}) %>
      </div>
    </div>

  </div>
</div>
