<!--only post-->
<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
        <div class="post-heading">
          <h1><%= page.title %></h1>
          <% if(page.subtitle) { %>
            <h2 class="subheading"><%= page.subtitle %></h2>
          <% } %>
          <span class="meta">
            作者 <%- page.author || config.author %>
            <span>
              日期 <%= page.date.format(config.date_format) %>
            </span>
          </span>
          <div class="tags text-center">
            <% page.tags.forEach(function(tag){ %>
              <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>"
                 title="<%= tag.name %>"><%= tag.name %></a>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-1 col-sm-9 post-container">

      <!-- 正文 -->
      <article>
        <%- page.content %>
      </article>
      <hr>

      <!-- 翻页 -->
      <%- partial('_partial/pagination', {page: page, type: 'post'}) %>

      <!-- 多说评论框 start -->
      <div class="ds-thread" data-thread-key="<%= page['layout'] %>-<%= page['slug'] %>" data-title="<%= page['title'] %>" data-url="<%= page['permalink'] %>"></div>
      <!-- 多说评论框 end -->
      <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
      <script type="text/javascript">
       var duoshuoQuery = {short_name:"zhufuge"};
       (function() {
	       var ds = document.createElement('script');
	       ds.type = 'text/javascript';ds.async = true;
	       ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
	       ds.charset = 'UTF-8';
	       (document.getElementsByTagName('head')[0]
       || document.getElementsByTagName('body')[0]).appendChild(ds);
       })();
      </script>
      <!-- 多说公共JS代码 end -->
    </div>

    <!-- 目录 -->
    <div class="hidden-xs col-sm-3 toc-col">
      <div class="toc-wrap">
        <%- toc(page.content, {list_number: false}) %>
      </div>
    </div>

  </div>
</div>
