<!-- Post -->
<div id="post">
  <!-- about card -->
  <div class="intro">
    <h1><%= page.title %></h1>
    <div class="meta">
      <div class="author">作者： <%= page.author || config.author %></div>
      <div class="date">日期： <%= page.date.format(config.date_format) %></div>
      <div class="categories">
        分类： <%- list_categories(page.categories, {
          show_count: false,
          class: 'category',
          style: 'none',
          separator: ' · ',
        }) %>
      </div>
    </div>
  </div>

  <!-- content -->
  <div class="post-content">
    <article><%- page.content %></article>

    <!-- license -->
    <div class="license">
      <p>
        版权声明：署名-非商业性使用-禁止演绎
        （
        <a href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">
          创意共享3.0许可证
        </a>
        ）
      </p>
    </div>
  </div>


  <!-- pagination -->
  <%- partial('_partial/pagination', {page: page, type: 'post'}) %>

</div>
