<header class="animated slideInDown">
  <div class="container">
    <div class="logo">
      <a href="<%= config.root %>">
        <span>
          <%= config.facets_author %>
        </span>
        's blog
      </a>
    </div>

    <%
    const navs = [
      { name: 'HOME', url: '' },
      { name: 'ARCHIVES', url: '/archives' },
      { name: 'PAINTINGS', url: '/paintings' },
    ]
    %>
    <div class="nav-horizontal">
      <ul>
        <% navs.forEach(function(item) { %>
          <a href="<%- url_for(item.url) %>"><li><%= item.name %></li></a>
        <% }) %>
      </ul>
    </div>

    <div class="nav-vertical">
      <div class="menu"><i data-feather="menu"></i></div>
      <ul class="fadeOut animated" style="display:none">
        <div class="triangle"></div>
        <% navs.forEach(function(item) { %>
          <a href="<%- url_for(item.url) %>"><li><%= item.name %></li></a>
        <% }) %>
        <div></div>
      </ul>
    </div>
  </div>
</header>
