<ul class="pager">
    <% if (type == 'post') { %>
    <% if (page.prev){ %>
        <li class="previous">
            <a href="<%- config.root %><%- page.prev.path %>" data-toggle="tooltip" data-placement="top"
               title="<%- page.prev.title %>">&larr; Previous Post</a>
        </li>
    <% } %>
    <% if (page.next){ %>
        <li class="next">
            <a href="<%- config.root %><%- page.next.path %>" data-toggle="tooltip" data-placement="top"
               title="<%- page.next.title %>">Next Post &rarr;</a>
        </li>
    <% } %>
    <% } %>

    <% if (type == 'index') { %>
    <% if (page.prev){ %>
        <li class="previous">
            <a href="<%- config.root %><%- page.prev_link %>">&larr; Newer Posts</a>
        </li>
    <% } %>
    <% if (page.next){ %>
        <li class="next">
            <a href="<%- config.root %><%- page.next_link %>">Older Posts &rarr;</a>
        </li>
    <% } %>
    <% } %>
</ul>
