<div class="post-preview">
  <a class="post-title" href="<%- url_for(post.path) %>">
    <%= post.title || "未命名" %>
  </a>
  <div class="post-attr">
    <div class="post-date">
      <i data-feather="calendar"></i>
      <span>
        <%= post.date.format(config.date_format) %>
      </span>
    </div>
    <div class="post-cates">
      <i data-feather="folder"></i>
      <div class="cates">
        <%- list_categories(post.categories, {
          show_count: false,
          style: 'none',
          class: '',
          separator: ' · ',
        }) %>
      </div>
    </div>
  </div>
  <div class="post-content-preview">
    <article><%- post.excerpt %></article>
    <div class="post-more" >
      <a href="<%- url_for(post.path) %>">more...</a>
    </div>
  </div>
 </div>
