<div class="post-preview"
  <% if (img) { %>
  style="background-image: url('<%- post["header-img"] ||
                                config["post-default-img"] %>')"
  <% } %>>
  <a href="<%- config.root %><%- post.path %>">
    <h2 class="post-title">
      <%- post.title || "未命名" %>
    </h2>
    <p class="post-meta">
      <i class="fa fa-calendar" aria-hidden="true"></i> <%= post.date.format(config.date_format) %>
    </p>
    <% if (post.subtitle && post.subtitle.length) { %>
      <h3 class="post-subtitle">
        <%- post.subtitle %>
      </h3>
    <% } %>

    <% if (content) { %>
      <div class="post-content-preview">
        <p>
          <%- post.excerpt %>
        </p>
      </div>
    <% } %>
  </a>
</div>
