<div class="post-preview">
  <a class="post-title" href="<%- url_for(post.path) %>">
    <%= post.title || "未命名" %>
  </a>
  <p class="post-date">
    <i class="icon-calendar"></i>
    <%= post.date.format(config.date_format) %>
  </p>
  <% if (excerpt) { %>
    <div class="post-content-preview">
      <p><%- post.excerpt %></p>
      <a class="post-more" href="<%- url_for(post.path) %>">more>></a>
    </div>
  <% } %>
</div>
<div class="divider"></div>
